<!DOCTYPE html>
<html lang="en">
<head>
    <title>Michigan Meal Planner</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <header>
        <div class = "header">
         
            <h1>Michigan Meal Planner</h1>
        </div>

    </header>
    <div class="background">
    <main>
        <h2>Meals Catered to Your Needs</h2>
        <p class="subheading"">Create a meal plan to fit your macros and calories
            <a href="planner.html" class="button">Get Started</a>
        </p>


    </main>
</div>

    <footer>
        <p>Created by Andy Zhu</p>
        <p id="p_right">andyzhu@umich.edu</p>
        <!-- Add footer content here -->
    </footer>
</body>
</html>